<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Making Waves</title>
  <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.7.4/css/foundation-float.min.css" integrity="sha512-LSYG1wfgim4owXFFJrK6pkikbwBr0iF8hCMOo0EFUuF/rut09ry21JGoLx+raCL9oE/no/e18kln42652dy+7Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header class="top-bar">
      <div class="top-bar-left">
        <h1>
        <a href="/">Making Waves</a>
      </h1>
      </div>
      <div class="top-bar-right">
        <nav>
        <ul class="menu align-right">
          {{#if loggedIn}}
          <li><a href="/dashboard">Dashboard</a></li>
          <li><button id="logout" type="button" class="button">Logout</button></li>
          {{else}}
          <li><a href="/login">Login</a></li>
          {{/if}}
        </ul>
      </nav>
      </div>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

</html>