<div class="card form-card">
  <div class="card-divider">
    <h2>Already Making Waves?</h2>
  </div>
  <form class="login-form">
    <div>
      <label for="username-login">Username:</label>
      <input type="text" id="username-login" />
    </div>
    <div>
      <label for="password-login">Password:</label>
      <input type="password" id="password-login" />
    </div>
    <div class="form-bottom">
      <button type="submit" class="submit button">Login</button>
    </div>
  </form>
</div>

<div class="card form-card">
  <div class="card-divider">
    <h2>New to Making Waves?</h2>
  </div>
  <form class="signup-form">
    <div>
      <label for="username-signup">Username:</label>
      <input type="text" id="username-signup" />
    </div>
    <div>
      <label for="password-signup">Password:</label>
      <input type="password" id="password-signup" />
    </div>
    <div class="form-bottom">
      <button type="submit" class="submit button">Sign Up</button>
    </div>
  </form>
</div>

<script src="/javascript/login.js"></script>