:root {
    --lt-gray: #c1d1dc;
    --gray: #83878e;
    --dark-gray: #525c65;
    --lt-blue: #5a8da9;
    --blue: #226095;
}

body {
    background-image: url("../images/waves-bg.png");
    background-size: cover;
    background-position: inherit;
    background-attachment: fixed;
}

main {
    margin: 20px;
}

.top-bar,
.top-bar ul {
    background-color: rgba(193, 209, 220, 0.85);
    padding-bottom: 5px;
}

header h1 {
    align-self: flex-end;
}

header a {
    color: var(--lt-blue);
}

.hide {
    display: none;
}

.button {
    border-radius: 15px;
    margin: 3px;
    background-color: var(--blue);
}

.card {
    border-radius: 10px;
    max-width: 1000px;
    margin: 15px auto;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 7px 7px 7px 1px rgba(0, 0, 0, 0.2);
}

.card-divider {
    color: var(--lt-gray);
    background-color: var(--dark-gray);
}

.card-section {
    padding: 5px;
}

.form-card {
    max-width: 600px;
}

.new-post,
.no-posts {
    max-width: 500px;
    text-align: center;
}

.form-comment {
    max-width: 500px;
    margin: 15px 0 0 0;
}

.comment {
    max-width: 500px;
    margin: 15px 0 0 0;
    padding: 10px;
}

.comment-text {
    border-top: 1px solid black;
}

form {
    margin: 15px;
}

.form-bottom {
    padding-bottom: 15px;
}

.post-content {
    border-bottom: 1px solid black;
    font-size: 20px;
    padding: 20px;
}

.post-info {
    font-size: 15px;
    font-style: italic;
}

.edit-border {
    border: 2px solid var(--lt-blue);
}