:root {
    --lt-gray: #c1d1dc;
    --gray: #83878e;
    --dark-gray: #525c65;
    --lt-blue: #5a8da9;
    --blue: #226095;
}

body {
    background-image: url("../images/waves-bg.png");
    background-size: cover;
    background-position: inherit;
    background-attachment: fixed;
}

main {
    margin: 20px;
}

header {
    background-color: rgba(193, 209, 220, 0.8);
    padding-bottom: 5px;
}

header a {
    color: var(--lt-blue);
}

.hide {
    display: none;
}

.button {
    border-radius: 15px;
    margin: 3px;
    background-color: var(--blue);
}

.card {
    border-radius: 10px;
    max-width: 1000px;
    margin: 15px auto;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-divider {
    color: var(--lt-gray);
    background-color: var(--dark-gray);
}

.card-section {
    padding: 5px;
}

.post-content {
    border-bottom: 1px solid black;
    font-size: 20px;
    padding: 20px;
}

.post-info {
    font-size: 15px;
    font-style: italic;
}